@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-white: #FFF;
    --color-blue: #1890FF;
    --color-blue-light: #E6F7FF;

    --color-title: #262626;
    --color-subtitle: #7E7E7E;
    --color-text-box: #737373;
    --color-url-box: #0029FF;
    --color-placeholder: #BFBFBF;
    --color-border: #D9D9D9;
    --color-card-github: #F5F5F5;
   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
}

/**-------------COMPONENTS----------------**/
header {
    background-color: var(--color-blue);
    color: var(--color-white);
    height: 62px;
    font-size: 24px;
    display: flex;
}

.header-content {
    display: flex;
    align-items: center;
}

#button-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-blue);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 30px;
}

/**-----------------HOME-------------------**/
.card-text-title {
    color: var(--color-title);
    margin-top: 30px;
    font-size: 48px;
    font-weight: 700;
}

.card-text-subTitle {
    color: var(--color-subtitle);
    font-size: 24px;
    font-weight: 700;
}

/**-----------------PROFILE-SEARCH-------------------**/
#card-search-container {
    background-color: var(--color-blue-light);
    color: var(--color-title);
    font-size: 38px;
    font-weight: 500;
    margin: 55px 100px 0 90px;
    padding: 40px 20px;
    border-radius: 16px;
}

.card-search-input {
    padding: 10px;
    margin-top: 10px;
    width: 298px;
    height: 40px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

input::placeholder {
    color: var(--color-placeholder);
}

/**-----------------PROFILE-RESPONSE-------------------**/

.card-profile-container {
    background-color: var(--color-card-github);
    margin: 55px 100px 125px 90px;
    border-radius: 8px;
    display: flex;
}

.card-profile-photo img {
    width: 247px;
    height: 247px;
    margin: 45px 15px 40px 40px;
}

.card-profile-info {
    background-color: var(--color-white);
    margin: 45px 35px 45px 15px;
    width: 100%;
    padding: 10px 15px 15px 15px;
    border-radius: 6px;
    border: 1px solid var(--color-border);
}

.card-profile-info-title {
    margin-bottom: 20px;
    color: var(--color-blue);
    font-weight: 500;
}

.card-profile-info-box {
    border-radius: 4px;
    border: 1px solid var(--color-border);
    background: var(--grey-grey-1, #FFF);
    height: 40px;
    margin-bottom: 5px;
    color: var(--color-text-box);
    font-weight: 700;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.font-regular {
    font-weight: 400;
}

.font-blue {
    color: var(--color-url-box);
}

/**-----------------NOTFOUND-------------------**/
.no-response {
    margin: 55px;
    font-weight: 500;
    font-size: 38px;
    color: var(--color-title);
}